html,
body {
    height: 100%;
}

.wrap {
    min-height: 100%;
    height: auto;
    margin: 0 auto -60px;
    /* padding: 0 0 60px; */
   
}

.wrap > .container {
    /* padding: 20px 15px 20px; */
    padding: 0 !important;
}

.footer {
    height: 60px;
    background-color: #f5f5f5;
    border-top: 1px solid #ddd;
    padding-top: 20px;
}

.jumbotron {
    text-align: center;
    background-color: transparent;
}

.jumbotron .btn {
    font-size: 21px;
    padding: 14px 24px;
}

.not-set {
    color: #c55;
    font-style: italic;
}

/* add sorting icons to gridview sort links */
a.asc:after, a.desc:after {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    padding-left: 5px;
}

a.asc:after {
    content: /*"\e113"*/ "\e151";
}

a.desc:after {
    content: /*"\e114"*/ "\e152";
}

.sort-numerical a.asc:after {
    content: "\e153";
}

.sort-numerical a.desc:after {
    content: "\e154";
}

.sort-ordinal a.asc:after {
    content: "\e155";
}

.sort-ordinal a.desc:after {
    content: "\e156";
}

.grid-view th {
    white-space: nowrap;
}

.hint-block {
    display: block;
    margin-top: 5px;
    color: #999;
}

.error-summary {
    color: #a94442;
    background: #fdf7f7;
    border-left: 3px solid #eed3d7;
    padding: 10px 20px;
    margin: 0 0 15px 0;
}

/* align the logout "link" (button in form) of the navbar */
.nav li > form > button.logout {
    padding: 15px;
    border: none;
}

@media(max-width:767px) {
    .nav li > form > button.logout {
        display:block;
        text-align: left;
        width: 100%;
        padding: 10px 15px;
    }
}

.nav > li > form > button.logout:focus,
.nav > li > form > button.logout:hover {
    text-decoration: none;
}

.nav > li > form > button.logout:focus {
    outline: none;
}



/* --------------Стили для приложения ---------------*/
body {
    font-family: 'Roboto', sans-serif;
  }
.wrap {
    background: linear-gradient(180deg, #00C7FF 0%, #2491B0 90%);
}
.content {
    width: 360px;
    height: 640px;
    margin: 0 auto;
    background: #fff;
}
.main {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.find {
    margin-top: 30px;
    display: block;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
}
.find:hover {
    opacity: 0.7;
}

html,
    body {
    height: 100%;
    }
    a {
        transition: all 0.5s;
        -webkit-transition: all 0.5s;
        -moz-transition: all 0.5s;
        -ms-transition: all 0.5s;
        -o-transition: all 0.5s;
}
  h1 {
      margin: 0;
  }
  a:hover, a:visited, a:focus, a:active {
      text-decoration: none;
  }
  a:hover {
      opacity: 0.5;
  }
  .site-index {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      text-align: center;
  }

.owl-carousel .item p {
    text-align: center;
    font-size: 30px;
    line-height: 35px;
    color: #828282;
    padding-top: 50px;
    padding-bottom: 20px;
  }
  .banner-link {
      display: block;
      text-align: center;
      background: linear-gradient(180deg, #6BB9CE -22%, #007EA2 88%);
      width: 100%;
      padding: 25px 10px;
      color: #FFFFFF;
      font-weight: bold;
      font-size: 28px;
  }
  .banner {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
  }
  .owl-dots {
      width: 100%;
      left: 0;
      display: flex;
      justify-content: center;
      align-items: center;
  }
  .owl-dots .owl-dot {
    background: #C4C4C4 !important;
    width: 18px !important;
    height: 18px !important;
    border-radius: 20px !important;
    -webkit-border-radius: 20px !important;
    -moz-border-radius: 20px !important;
    -ms-border-radius: 20px !important;
    -o-border-radius: 20px !important;
    margin: 0 5px;
}
.owl-dots .owl-dot.active {
    width: 26px !important;
    height: 26px !important;
    background: #4D4C59 !important;
}
.owl-carousel .owl-item img {
    padding: 20px;
}
.line-grey {
    height: 20px;
    background: rgba(77, 76, 89, 0.85);
}
.line-dark {
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #4D4C59;
    position: relative;
}
.line-dark h1 {
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    color: #FFFFFF;
}
.content-inside {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 138px;
}
.start-link {
    display: flex;
    justify-content: center;
    align-items: center;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    color: #FFFFFF;
    background: linear-gradient(180deg, #00C7FF 0%, #2491B0 90%);
    border-radius: 15px;
    width: 160px;
    height: 50px;
    margin-bottom: 72px;
}
.header-link {
    position: absolute;
    display: block;
    width: 30px;
    height: 30px;
    background: url('/img/arrow.svg') no-repeat center center;
    left: 20px;
    top: 50%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
}
.about-inside {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 76px;
}
.about-inside a:first-child {
    background: url('/img/test-01.png') no-repeat center top;
}
.about-inside a:last-child {
    background: url('/img/test-02.png') no-repeat center top;
}
.about-link {
    display: block;
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    text-align: center;
    color: #000000;
    padding: 158px 30px 0 30px;
    margin-bottom: 58px;
}
.tests-inside {
    padding: 0 20px;
}
.tests-link {
    display: block;
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    color: #000000;
    border-bottom: 1px solid #2491B0;
    padding: 20px;
}