html,
body {
    height: 100%;
}

.wrap {
    min-height: 100%;
    height: auto;
    margin: 0 auto -60px;
    /* padding: 0 0 60px; */
   
}

.wrap > .container {
    /* padding: 20px 15px 20px; */
    padding: 0 !important;
}

.footer {
    height: 60px;
    background-color: #f5f5f5;
    border-top: 1px solid #ddd;
    padding-top: 20px;
}

.jumbotron {
    text-align: center;
    background-color: transparent;
}

.jumbotron .btn {
    font-size: 21px;
    padding: 14px 24px;
}

.not-set {
    color: #c55;
    font-style: italic;
}

/* add sorting icons to gridview sort links */
a.asc:after, a.desc:after {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    padding-left: 5px;
}

a.asc:after {
    content: /*"\e113"*/ "\e151";
}

a.desc:after {
    content: /*"\e114"*/ "\e152";
}

.sort-numerical a.asc:after {
    content: "\e153";
}

.sort-numerical a.desc:after {
    content: "\e154";
}

.sort-ordinal a.asc:after {
    content: "\e155";
}

.sort-ordinal a.desc:after {
    content: "\e156";
}

.grid-view th {
    white-space: nowrap;
}

.hint-block {
    display: block;
    margin-top: 5px;
    color: #999;
}

.error-summary {
    color: #a94442;
    background: #fdf7f7;
    border-left: 3px solid #eed3d7;
    padding: 10px 20px;
    margin: 0 0 15px 0;
}

/* align the logout "link" (button in form) of the navbar */
.nav li > form > button.logout {
    padding: 15px;
    border: none;
}

@media(max-width:767px) {
    .nav li > form > button.logout {
        display:block;
        text-align: left;
        width: 100%;
        padding: 10px 15px;
    }
}

.nav > li > form > button.logout:focus,
.nav > li > form > button.logout:hover {
    text-decoration: none;
}

.nav > li > form > button.logout:focus {
    outline: none;
}



/* --------------Стили для приложения ---------------*/
body {
    font-family: 'Roboto', sans-serif;
  }
.wrap {
    background: linear-gradient(180deg, #00C7FF 0%, #2491B0 90%);
}
.content {
    width: 360px;
    height: 640px;
    margin: 0 auto;
    background: #fff;
}
.main {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #FFC700;
}
.find {
    margin-top: 30px;
    display: block;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
}
.find:hover {
    opacity: 0.7;
}

html,
    body {
    height: 100%;
    }
    a {
        transition: all 0.5s;
        -webkit-transition: all 0.5s;
        -moz-transition: all 0.5s;
        -ms-transition: all 0.5s;
        -o-transition: all 0.5s;
}
  h1 {
      margin: 0;
  }
  a:hover, a:visited, a:focus, a:active {
      text-decoration: none;
  }
  a:hover {
      opacity: 0.5;
  }
  .site-index {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      text-align: center;
  }

.owl-carousel .item p {
    text-align: center;
    font-size: 30px;
    line-height: 35px;
    color: #828282;
    padding-top: 50px;
    padding-bottom: 20px;
  }
  .banner-link {
      display: block;
      text-align: center;
      background: linear-gradient(180deg, #6BB9CE -22%, #007EA2 88%);
      width: 100%;
      padding: 25px 10px;
      color: #FFFFFF;
      font-weight: bold;
      font-size: 28px;
  }
  .banner {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
  }
  .owl-dots {
      width: 100%;
      left: 0;
      display: flex;
      justify-content: center;
      align-items: center;
  }
  .owl-dots .owl-dot {
    background: #C4C4C4 !important;
    width: 18px !important;
    height: 18px !important;
    border-radius: 20px !important;
    -webkit-border-radius: 20px !important;
    -moz-border-radius: 20px !important;
    -ms-border-radius: 20px !important;
    -o-border-radius: 20px !important;
    margin: 0 5px;
}
.owl-dots .owl-dot.active {
    width: 26px !important;
    height: 26px !important;
    background: #4D4C59 !important;
}
.owl-carousel .owl-item img {
    padding: 20px;
}
.line-grey {
    height: 20px;
    background: rgba(77, 76, 89, 0.85);
}
.line-dark {
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #4D4C59;
    position: relative;
}
.line-dark h1 {
    width: 250px;
    text-align: center;
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    color: #FFFFFF;
}
.content-inside {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 138px;
}
.start-link {
    display: flex;
    justify-content: center;
    align-items: center;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    color: #FFFFFF;
    background: linear-gradient(180deg, #00C7FF 0%, #2491B0 90%);
    border-radius: 15px;
    width: 160px;
    height: 50px;
    margin-bottom: 72px;
}
.header-link {
    position: absolute;
    display: block;
    width: 30px;
    height: 30px;
    background: url('/img/arrow.svg') no-repeat center center;
    left: 20px;
    top: 50%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
}
.about-inside {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 76px;
}
.about-inside a:first-child {
    background: url('/img/test-01.png') no-repeat center top;
}
.about-inside a:last-child {
    background: url('/img/test-02.png') no-repeat center top;
}
.about-link {
    display: block;
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    text-align: center;
    color: #000000;
    padding: 158px 30px 0 30px;
    margin-bottom: 58px;
}
.tests-inside {
    padding: 0 20px;
}
.tests-link {
    display: block;
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    color: #000000;
    border-bottom: 1px solid #2491B0;
    padding: 20px;
}


/* CSS-код для радиокнопки будет таким: */
.one-input {
    position: relative;
}
.radio {
    position: absolute;
    z-index: -1;
    opacity: 0;
    margin: 0;
  }
  .radio + label {
      position: absolute;
    padding: 0 0 0 35px;
    cursor: pointer;
  }
  .radio + label:before {
    content: '';
    position: absolute;
    top: -3px;
    left: 0;
    width: 20px;
    height: 20px;
    background: #000;
    /* border: 1px solid #CDD1DA; */
    border-radius: 50%;
  }
  .radio + label:after {
    content: '';
    position: absolute;
    top: 1px;
    left: 4px;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background: #fff;
    /* box-shadow: inset 0 1px 1px rgba(0,0,0,.5); */
    opacity: 0;
    transition: .2s;
  }
  .radio:checked + label:after {
    opacity: 1;
  }


  /* Стилизация теста Соломина */
  .answer-link {
    display: inline-block;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    color: #FFFFFF;
    padding: 17px 30px;
    background: linear-gradient(180deg, #00C7FF 0%, #2491B0 90%);
    border-radius: 15px;
    margin: 20px auto;
    border-color: transparent;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
}
  .result {
    display: none;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    color: #FFFFFF;
    padding: 17px 30px;
    background: linear-gradient(180deg, #00C7FF 0%, #2491B0 90%);
    border-radius: 15px;
    margin: 20px auto;
    border-color: transparent;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
  }
  .answer-link:focus, .result:focus {
      outline: none !important;
  }

#block-0 {

}
#block-1 {
    display: none;
}
#block-2 {
    display: none;
}

#block-3 {
    display: none;
}
#block-4 {
    display: none;
}
#block-5 {
    display: none; 
}
#block-6 {
    display: none;
}
#block-7 {
    display: none;
}
#block-8 {
    display: none;
}
#block-9 {
    display: none;
}
#block-10 {
    display: none;
}
#block-11 {
    display: none;
}
#block-12 {
    display: none;
}
#block-13 {
    display: none;
}
.solimin-heading {
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 20px;
    text-align: center; 
    color: #000000;
    padding: 16px 20px 2px 20px;
    margin-bottom: 0;
    margin-bottom: 0;
}
.question {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    color: #000000;
    padding: 10px;
}
.input-group {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 10px;
}
.input-name {
    position: absolute;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    color: #000000;
}
.radio-one + label:before {
    width: 20px;
    height: 20px;
    background: #6199BA;
    top: -9px;
    left: -18px;
}
.radio-one + label:after {
    width: 20px;
    height: 20px;
    border: 2px solid #6199BA;   
    top: -9px;
    left: -18px;
}
.radio-two + label:before {
    top: -14px;
    left: -29px;
    width: 28px;
    height: 28px;
    background: #6BB9CE;
}
.radio-two + label::after {
    top: -14px;
    left: -29px;
    width: 28px;
    height: 28px;
    border: 2px solid #6BB9CE;
}
.radio-three + label:before {
    top: -17px;
    left: -37px;
    width: 36px;
    height: 36px;
    background: #61B4BA;
}
.radio-three + label::after {
    top: -17px;
    left: -37px;
    width: 36px;
    height: 36px;
    border: 2px solid #61B4BA;
}
.radio-four + label:before {
    top: -3px;
    left: 0;
    width: 46px;
    height: 46px;
    background: #72DBD2;
}
.radio-four + label::after {
    top: -3px;
    left: 0;
    width: 46px;
    height: 46px;
    border: 2px solid #72DBD2;
}
.one-input label {
    border-bottom: 1px solid #000;
    max-width: unset !important;
}
.one-input-1 .input-name {
    top: -7px;
    width: 65px;
}
.one-input-1 label {
    top: 19px;
    left: 36px;
    width: 53px;
}
.one-input-2 .input-name {
    top: -12px;
    left: -44px;
    width: 77px;
}
.one-input-2 label {
    top: 19px;
    left: 6px;
    width: 53px;
}
.one-input-3 .input-name {
    top: -19px;
    left: -56px;
}
.one-input-3 label {
    top: 19px;
    left: -18px;
    width: 53px;
}
.one-input-4 .input-name {
    top: -24px;
    left: -109px;
}
.one-input-4 label {
    top: -2px;
    left: -79px;
    border-color: transparent;
}
.block-links {
    height: 110px;
}
.content-height {
    height: 752px;
}
.question-yvashi {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 20px;
    color: #000000;
    padding-top: 10px;
}
.block-questions-yvashi {
    padding: 10px 10px;
}
.block-links-yvashi {
    position: relative;
}
.radio-yvashi + label {
    left: 0;
}
.answer-yvashi {
    padding-left: 40px;
}
.radio-yvashi + label:before {
    background: #61B4BA;
    top: 3px;
}
.radio-yvashi + label:after {
    top: 3px;
    left: 0;
    width: 20px;
    height: 20px;
    border: 2px solid #61B4BA;
}
#block-yvashi-0 {

}
#block-yvashi-1 {
    display: none;
}
#block-yvashi-2 {
    display: none;
}
#block-yvashi-3 {
    display: none;
}
#block-yvashi-4 {
    display: none;
}
#block-yvashi-5 {
    display: none;
}
#block-yvashi-6 {
    display: none;
}
#block-yvashi-7 {
    display: none;
}
#block-yvashi-8 {
    display: none;
}
#block-yvashi-9 {
    display: none;
}
#block-yvashi-10 {
    display: none;
}
.content-auto {
    height: auto;
}
.answer-yvashi-link {
    display: inline-block;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    color: #FFFFFF;
    padding: 17px 30px;
    background: linear-gradient(180deg, #00C7FF 0%, #2491B0 90%);
    border-radius: 15px;
    margin: 20px auto;
    border-color: transparent;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
}
.result-yvashi {
    display: none;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    color: #FFFFFF;
    padding: 17px 30px;
    background: linear-gradient(180deg, #00C7FF 0%, #2491B0 90%);
    border-radius: 15px;
    margin: 20px auto;
    border-color: transparent;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
}
button:focus, button:hover {
    outline: none !important;
}
.profession {
    padding: 20px 20px;
}
.profession li {
    list-style: none;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    text-decoration-line: underline;
    color: #000000;
    padding: 10px 0;
}
.start-link-course {
    display: flex;
    justify-content: center;
    align-items: center;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    color: #FFFFFF;
    background: linear-gradient(180deg, #00C7FF 0%, #2491B0 90%);
    border-radius: 15px;
    width: 220px;
    height: 50px;
    text-align: center;
    margin-bottom: 30px;
}
.img {
    width: 200px;
    margin-top: 30px;
    margin-bottom: 30px;
}
.img img {
    width: 100%;
}
.content-course {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.btn-resulte {
    display: none;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    color: #FFFFFF;
    padding: 17px 30px;
    background: linear-gradient(180deg, #00C7FF 0%, #2491B0 90%);
    border-radius: 15px;
    margin: 20px auto;
    border-color: transparent;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
}
.content-pad {
    padding: 40px 20px;
}